
.form-control {
  display: flex;
  flex-direction: column;
  padding: var(--size-1);
}

.form-control label {
  padding-bottom: var(--size-1)
}

.form-control input {
  padding: var(--size-1);
  border: 1px solid var(--color-dark);
  border-radius: 3px;
  font-family: var(--font);
  font-size: 14px;
  color: var(--color-dark);
}

.form-control span {
  padding-top: var(--size-1);
  font-size: 11px;
  color: var(--color-danger);
}

.btn {
  padding: var(--size-2);
  border: 0px;
  border-radius: 3px;
  font-family: var(--font);
  font-size: 14px;
  font-weight: bold;
}
